.message{
  display:flex;
  align-items:center;
  padding: 20px;
  
}
.message > img{
  height: 50px;
  width: 50px;
  object-fit: contain;
 
}
.message_info{
  padding-left: 10px;
}
.message_timeStamp{
  color:gray;
  font-size:13px;
  font-weight: 300;
}