.header{
  background-color:var(--slack-color);
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding:10px 0;
  color:white;
}
.header_left{
display:flex;
flex:0.3;
align-items: center;
margin-left: 20px;
}
.header_left > .MuiSvgIcon-root{
  margin-left: auto;
  margin-right:30px;
}
.header_search{
  display:flex;
  flex:0.4;
  align-items: center;
  border:1px solid gray;
  border-radius: 6px;
  color:gray;
  padding:0 50px;
  background-color:#421f44;
}
.header_search > input{
  background:transparent;
  border:none;
  width:90%;
  outline: none;
  margin-left: 10px;
  color:white;
}
.header_right{
  margin-left:auto;
  flex:0.3;
  display:flex;
  justify-content:flex-end;
  align-items:center;
  margin-right: 20px;
}